<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bungalaundry">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BungaLaundry"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Beranda"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KasLaundry"
            android:exported="true">
        </activity>
        <activity
            android:name=".KelolaLaundry"
            android:exported="true">
        </activity>
        <activity
            android:name=".CheeseActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DataPelanggan"
            android:exported="true">
        </activity>
        <activity
            android:name=".Edit"
            android:exported="true">
        </activity>
        <activity
            android:name=".TambahPelanggan"
            android:exported="true">
        </activity>
        <activity
            android:name=".Manajemen"
            android:exported="true">
        </activity>
        <activity
            android:name=".RiwayatTransaksi"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cucian"
            android:exported="true">
        </activity>
        <activity
            android:name=".Nota"
            android:exported="true">
        </activity>
    </application>

</manifest>